<div class="row">
  <div class="col-md-6 offset-3 mt-4">
    <h3>Reset Password</h3>
    <form  #f="ngForm" (ngSubmit)="onSubmit(f)">

      <div class="mb-3">
        <label for="resetPasswordEmail" class="form-label">Email</label>
        <input name="password" ngModel required #password="ngModel"
        type="email" class="form-control" id="resetPasswordEmail">
      </div>

      <button [disabled]="f.invalid"
      type="submit" class="btn btn-primary">Reset Password <i class="fas fa-paper-plane"></i></button>
    </form>
  </div>
</div>
