<div class="row">
  <div class="col-md-6 offset-3 mt-4">
    <h3>Register New Employee</h3>
    <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="mb-3">
        <label for="registerUsername" class="form-label">Username</label>
        <input name="username" ngModel required #username="ngModel"
        type="text" class="form-control" id="registerUsername" placeholder="Enter username">
      </div>
      <div class="mb-3">
        <label for="registerEmail" class="form-label">Email</label>
        <input name="email" ngModel required #email="ngModel"
        type="email" class="form-control" id="registerEmail">
      </div>
      <div class="mb-3">
        <label for="registerPassword" class="form-label">Password</label>
        <input name="password" ngModel required #password="ngModel"
        type="password" class="form-control" id="registerPassword">
      </div>


      <button type="submit" [disabled]="f.invalid"
      class="btn btn-primary">Register <i class="fas fa-sign-in-alt"></i></button>
    </form>
  </div>
</div>
